<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/JeffreyTwitter/public/css/twitterstyles.css">
  <script defer src="/JeffreyTwitter/public/js/eventhandlerjeff.js"></script>
  <title> Jeffrey Twitter</title>
</head>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>HTML</title>

</head>
<body>
   
	<div class="container">
	   <div class="column1">
      <div class="page-hold" >
        <div class="side-hold">
            <div class="side-link"><img src="/JeffreyTwitter/public/img/twittericon.svg"> <div></div></div>
       
           <div class="side-link"><img src ="/JeffreyTwitter/public/img/homeicon.svg"> <div id="home">Home</div></div>
   
        </div>
  
       
     </div>
	   </div>
	   <div class="column2">
      <div class="middle-sec">
        <div class="form-container">
          <form id="tweets-form">
            <input class="username-input" type="text" id="username" name="usernamejs" placeholder="Enter your username">
            
            <textarea class="tweet-input" type="text" name="tweetjs" id="tweet" placeholder="What's happening"></textarea>
            <div class="button-hold ">
              <button class="tweet-button" type="submit">Tweet </button>
            </div>
          </form>
        </div>
        <div class="tweet-load" id="tweet-in">

          <!-- <div class="tweet-container">
            <div class="profile-img">
              <img  class="pfp-pic" src ="/JeffreyTwitter/public/img/profileicon.png" alt="profile">
            </div>
            <div class="tweets-place">
              <div class="tweet-username">Jeffrey</div>
              <div class="tweet-text">Let's Go!</div>
            </div>
          </div> -->
          
        </div>

      </div>
	    


	   </div>
	   <div class="column3">
	     <div class="container-3">
        <div class="search-contain">
          <input placeholder="Search Twitter" class="searchbox">
        </div> 

       </div>
	   </div>
	</div>
</body>
</html>
<!-- <body>
<div class="page-container">
  <div class="page-hold" >
      <div class="side-hold">
          <div class="side-link"><img src="/JeffreyTwitter/public/img/twittericon.svg"> <div></div></div>
     
         <div class="side-link"><img src ="/JeffreyTwitter/public/img/homeicon.svg"> <div id="home">Home</div></div>
 
      </div>

     
   </div>
  
  
    
  </div>
  
  <div class="middle">
    hello
    <div class="Tweets -contain">
      <div class="form-cointainer">
        carrot
        </div>
        <div class="tweet-load">
          meow
        </div>
    </div>
    
  </div>

</div>




</body> -->





</html>


